section.how-work
	.container.mob-padding
		.banner-block
			.banner-block__img
				img(src="img/how-work/1.jpg", width="830" alt="img")
		
			.banner-block__text
				.title-2
					h2 Описание мобильной ПЦР-лаборотории «Индикатор-БИО»
				.desk-text
					p Мобильная ПЦР- лаборатория «Индикатор-БИО» предназначена для проведения полного спектра ПЦР-исследований, включая выявление инфекционных агентов человека и животных, бактериальное и вирусное загрязнение окружающей среды, анализ на наличие ГМИ и т. д.
					p Мобильная ПЦР-лаборатория «Индикатор-БИО» позволяет осуществлять все этапы ПЦР: пробоподготовку, амплификацию и детекцию результатов.
	.container
		.how-work__description
			.title-2
				h2 Принцип работы
			// ========== строка блока ==========
			.how-work__description-item
				.how-work__description-column.text-20
					p  Амплификатор ДНК с регистрацией результатов в режиме реального времени Индикатор-БИО предназначенного для качественных и количественных исследований нуклеиновых кислот методом полимеразной цепной реакции с флуоресцентной регистрацией в режиме «реального времени».

				.how-work__description-column
					p Исследования можно проводить в полевых условиях при отсутствии электросети. Разворачивание мобильной лаборатории одним сотрудником занимает менее 5 минут с возможностью проведения до 10 тестов от одного заряда аккумулятора. Мобильная ПЦР-лаборатория «Индикатор-БИО» специально адаптирована для транспортировки и работы в полевых условиях. Лаборатория упакована в ударопрочные и водонепроницаемые кейсы.
			
			// ========== строка блока ==========
			.how-work__description-item
				.how-work__description-column.text-20
					p  Полимеразная цепная реакция (ПЦР)&nbsp;&#8209;&nbsp;высокоточный метод молекулярно-генетической диагностики, который позволяет выявить у объекта исследования (человек или животное) различные инфекционные заболевания в любых возможных фазах ее протекания (в том числе в бессимптомной или сразу после заражения).

				.how-work__description-column
					p Интерфейс пользователя прибора предназначен для управления прибором и отображается на жидкокристаллическом дисплее. Управление прибором осуществляется посредством касания жидкокристаллического дисплея руками (допускается управление прибором как голыми руками, так и руками в медицинских перчатках или специальным стилусом).
			
			// ========== строка блока ==========
			.how-work__description-item
				.how-work__description-column.text-20
					p  Реакционная смесь включает в себя пробу и реагенты. Для детекции с&nbsp;использованием прибора Амплификатор ДНК с регистрацией результатов в режиме реального времени Индикатор-БИО номер партии РТ01 применяются реагенты, использующие принцип флуоресцентной детекции.

					p Картридж после помещения в него реакционной смеси является герметичным, опасность выброса биологических веществ исключена. Картридж не подлежит многоразовому использованию.

				.how-work__description-column
					p ПЦР расшифровывается как “полимеразная цепная реакция”. Такой метод диагностики направлен на обнаружение РНК коронавируса COVID-19. Анализ проводят по биоматериалу, взятому из носа или зева пациента. Сюда клетки вируса попадают первым делом, поэтому тест будет эффективен с первых дней. ПЦР-тест позволяет установить, что инфекция находится в организме в данный момент. В заключении будет лишь указано, выявлен возбудитель или нет. Вы не сможете узнать стадию и наличие антител, которые свидетельствуют о том, что человек уже переболел COVID-19. Для этого предназначен тест на антитела.


