section.company
	.container.mob-padding
		.banner-block
			.banner-block__img
				img(src="img/company/1.jpg", width="830" alt="img")
		
			.banner-block__text
				.title-2
					h2 О компании
				.desk-text
					p ООО «Экзопласт» – производи­тель реабилитацион­ной меди­цин­ской техники, работающей на основе интерфейса мозг-компьютер. Также мы, являемся производителем мобильной ПЦР-лаборатории “Индикатор-БИО”. Производство прибора находится г. Троицке.
					.desk-text__footer.d-flex
						.img-wrapper
							img(src="img/logo/logo-plast.png", width="136" alt="logo")
						.link.d-block.d-md-none
							a(href="#!")
								span Производитель: ООО «Экзопласт» 
	// ========== текст о разработчике ==========
	.container
		.company-description
			.column-left
				.title-2
					h2 Разработчик:
				.company-description__article
					.text-20
						p  В рамках государственного контракта РНИМУ им. Н.И. Пирогова Минздрава России разработал и наладил серийное производство небольшого мобильного ПЦР-прибора с детекцией в режиме реального времени «Индикатор-БИО» с чипами и реактивами, позволяющими выявить COVID-19 за 30 минут. 
						p Прибор может работать от небольшого аккумулятора и проводить тесты в полевых условиях.

					
						
			.column-right
				.column-right__head
					.title-2
						h2 Контакты:
					.company-contacts
						ul(itemprop="address" itemscope itemtype="https://schema.org/PostalAddress")
							li(itemprop="streetAddress") 117513, г. Москва, ул. Островитянова, д.1, стр.6, пом. 246
							li Понедельник - пятница: 10:00 - 18:00 Суббота, воскресенье - выходной
							li(itemprop="telephone")
								span
									+callRed
								span +7 (499) 739-96-98
							li 
								span
									+mailRed
								.link
									a(href="mailto: Exoplast-InBIO@yandex.ru"  itemprop="email" )
										span Exoplast-InBIO@yandex.ru
								
				.column-right__footer
					.link
						a(href="www.indicatorbio.ru"  itemprop="url" )
							span www.indicatorbio.ru