section.about
	.container
		.title-2
			h2 О нас
		.about-content
			.about-item
				.about-item__img
					img(src="img/about/1.jpg", alt="img" width='630px')
				.about-item__text
					.title-3
						
			.about-item
				.about-item__img
				.about-item__text


			