section.about
	.container
		.title-2
			h2 О нас
		.about-content
			.about-item
				.about-item__img
					img(src="img/about/1.jpg", alt="img" width='630')
				.about-item__text
					.title-3
						h3 Разработчик РНИМУ им.Пирогова
					.text-paragrafe
						p РНИМУ им. Н.И. Пирогова – ведущий научно-образовательный медицинский центр, обеспечивающий подготовку врачей, фармацевтов, клинических психологов, социальных работников, а также уникальных медицинских научных кадров (специальности – медицинская биохимия, медицинская кибернетика, медицинская биофизика). 
						p По программам высшего профессионального образования в Университете ежегодно обучается более 12 000 человек и более 10 000 человек – по программам дополнительного профессионального образования.
					.manufacturer-info
						.left-column
							.manufacturer-info__icon
								img(src="img/logo/logo-RNIMU.png", width="64" alt="icon")
							.manufacturer-info__text
								span Разработчик:
								span РНИМУ им. Н.И. Пирогова
						.link
							a(href="#!")
								span Полная информация
			.about-item
				.about-item__img
					img(src="img/about/2.jpg", alt="img" width='630px')
				.about-item__text
					.title-3
						h3 Производитель ООО «Экзопласт»
					.text-paragrafe
						p С 2014 года в Университете разрабатывается автоматизированная система дополнительного профессионального образования, совмещающая функции управления обучением и поддержки процесса обучения. 
						p По заданию Минздрава России РНИМУ им. Н.И. Пирогова с 2015 г. осуществляет методическую и информационную поддержку портала непрерывного медицинского и фармацевтического образования, основной функцией которого является организация и учет образовательной активности всех специалистов здравоохранения. 
					.manufacturer-info
						.left-column
							.manufacturer-info__icon
								img(src="img/logo/logo-plast.png", width="136" alt="icon")
							.manufacturer-info__text
								span Производитель 
								span ООО «Экзопласт»
								
						.link
							a(href="#!")
								span Полная информация
			