section.about
	.container
		.title-2
			h2 О нас
		.about-content
            .about-item
                .about-item__img
                    img(src="img/about/1.jpg", alt="img" width='630')
                .about-item__text
            .about-item
                .about-item__img
                .about-item__text


			