section.benefits
	.container
		.title-2
			h2 Преимущества системы Индикатор-БИО
		.benefiits-block.owl-carousel
			.card-wrapper
				.benefits-card
					.title-2
						h2  Преимущества системы Индикатор-БИО
					.card-icon
						+rocket
					.title-3 Скорость
					p От 30 минут на 1 тест,<br> 5 минут готовность к применению
			.card-wrapper
				.benefits-card
					.title-2
						h2 Преимущества системы Индикатор-БИО
					.card-icon
						+baggage
					.title-3 Мобильность
					p Работа от аккумулятора или сети,<br> легкий вес для транспортировки
			.card-wrapper
				.benefits-card
					.title-2
						h2 Преимущества системы Индикатор-БИО
					.card-icon
						+benefits3
					.title-3 Универсальность
					p Широкий перечень проводимых исследований
			.card-wrapper
				.benefits-card
					.title-2
						h2 Преимущества системы Индикатор-БИО
					.card-icon
						+benefits4
					.title-3 Простота
					p Использование системы не требует сложной профессиональной подготовки
			.card-wrapper
				.benefits-card
					.title-2
						h2 Преимущества системы Индикатор-БИО
					.card-icon
						+tower
					.title-3 Импортонезависимость
					p Отечественная разработка<br> без привязки к внешним факторам
				
