section.contacts
	.container
		.contacts__head
			.row
				.col-md-6
					.contacts-column
						.company-contacts
							ul(itemprop="address" itemscope itemtype="https://schema.org/PostalAddress")
								li(itemprop="streetAddress") 117513, г. Москва, ул. Островитянова, д.1, стр.6, пом. 246
								li Понедельник - пятница: 10:00 - 18:00 Суббота, воскресенье - выходной
								li(itemprop="telephone")
									span
										+callRed
									span +7 (499) 739-96-98
								li 
									span
										+mailRed
									.link
										a(href="mailto: Exoplast-InBIO@yandex.ru"  itemprop="email" )
											span Exoplast-InBIO@yandex.ru
								li.d-block.d-lg-none.pl-30
									.link
										a(href="www.indicatorbio.ru"  itemprop="url" )
											span www.indicatorbio.ru

						.contacts-column__footer
							button.button.button-brown(href="#!" data-toggle="modal" data-target="#contactForm") Написать нам
							.link.d-none.d-lg-block
								a(href="www.indicatorbio.ru"  itemprop="url" )
									span www.indicatorbio.ru
				.col-md-6
					.company-map
						iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A9b674f649eb141eca111bb744e619af97f6cb5034577c7469c124992ed02b656&amp;source=constructor" width="100%" height="100%" frameborder="0")
		.contacts__footer
			.contacts__footer-column
				.service-contacts
					.title-3
						h3 Служба клиентской поддержки
					.service-contacts__text
						p По всем вопросам, касающимся мобильной ПЦР&#8209;лаборатории «Индикатор&#8209;БИО», Вы можете обратиться в Службу клиентской поддержки по телефонам:
							span +7 (499) 739-96-98, +7 (977) 428-99-96
						
						p По электронной почте:
							.link
								a(href="mailto: Exoplast-InBIO@yandex.ru"  itemprop="email" )
									span Exoplast-InBIO@yandex.ru
			.contacts__footer-column
				.garantee__text
					.title-3
						h3 Сервис и гарантия
					.text-wrapper
						p Срок гарантийного обслуживания оборудования производства компании «Экзопласт» составляет 1 год. В течение этого времени ремонт/замена вышедшего из строя оборудования или его комплектующих, признанных гарантийным случаем, производится бесплатно в самые кратчайшие сроки. 
						p После окончания гарантийного срока, компания осуществляет постгарантийное и&nbsp;сервисно-техническое обслуживание оборудования, которое рекомендовано проводить с периодичностью один раз в&nbsp;год (в независимости от гарантийных обязательств) с целью поддержания оборудования в работоспособном состоянии в течение всего срока эксплуатации. 
						p На время проведения работ по&nbsp;обслуживанию оборудования возможно предоставление подменного прибора, что&nbsp;обеспечивает стабильную и&nbsp;бесперебойную работу пользователя на&nbsp;протяжении всего периода эксплуатации оборудования.
				.garantee__link
					.link
						a(href="#!" data-toggle="modal" data-target="#contactForm")
							span Заявка на проведение работ 