section.docs
	.container
		.docs-content
			.docs-content__top
				.row
					.col-md-6.col-xl-4
						.document-card
							.document-card__body
								.title-block
									.title-3
										h3 Лицензии и&nbsp;сертификаты
									p Сертификат соответствия
								.doc-img
									img(src="img/certificate/sert.jpg", width="176" alt="img")
							.document-card__footer
								.link.link--icon
									a(href="img/certificate/sert.jpg" download)
										span
											+download
										span Скачать
					.col-md-6.col-xl-4
						.document-card
							.document-card__body
								.title-block
									.title-3
										h3 Руководство по&nbsp;эксплуатации
									p Амплификатор&nbsp;ДНК&nbsp;с&nbsp;регистрацией результатов в режиме реального времени Индикатор-БИО
								.doc-img
									img(src="img/certificate/manual.jpg", width="176" alt="img")
							.document-card__footer
								.link.link--icon
									a(href="img/certificate/manual.jpg" download)
										span
											+download
										span Скачать
					.col-md-6.col-xl-4
						.document-card
							.document-card__body
								.title-block
									.title-3
										h3 Документы для партнеров
									p Соглашение о сотрудничестве
								.doc-img
									img(src="img/certificate/doc.jpg", width="176" alt="img")
							.document-card__footer
								.link.link--icon
									a(href="img/certificate/doc.jpg" download)
										span
											+download
										span Скачать
					.col-md-6.col-xl-4
						.document-card
							.document-card__body
								.title-block
									.title-3
										h3 Паспорт на&nbsp;медицинское изделие
									p Паспорт
								.doc-img
									img(src="img/certificate/pass.jpg", width="176" alt="img")
							.document-card__footer
								.link.link--icon
									a(href="img/certificate/pass.jpg" download)
										span
											+download
										span Скачать
					.col-md-6.col-xl-4
						.document-card
							.document-card__body
								.title-block
									.title-3
										h3 Презентация
									p Мобильная ПЦР&#8209;лаборатория «Индикатор-БИО»
								.doc-img
									img(src="img/certificate/presentation.jpg", width="176" alt="img")
							.document-card__footer
								.link.link--icon
									a(href="img/certificate/presentation.jpg" download)
										span
											+download
										span Скачать
			.docs-content__footer
				.link
					a(href="#!" data-toggle="modal" data-target="#contactForm")
						span Остальная документация по запросу