section.faq
	.container
		.title-2
			h2 Вопрос-ответ
		.faq-content.owl-carousel
			.faq-item
				.faq-item__title.title-3
					h3 Какие термостаты и в каком количестве должны быть в ПЦР-лаборатории?
				.faq-item__text
					p Твердотельный термостат для пробирок объемом 1,5 мл с диапазоном рабочих температур 25 – 100 0С – 2 шт
			.faq-item
				.faq-item__title.title-3
					h3 «Инструктаж и обучение персонала заказчика работе на приборе»
				.faq-item__text
					p При приобретении оборудования «ДНК-Технология» представители компании или партнеры осуществляют бесплатную инсталляцию приборов (возможно предоставление стартового набора реагентов до 5 наименований)
			.faq-item
				.faq-item__title.title-3
					h3 Как часто надо проводить диагностику приборов?
				.faq-item__text
					p Для приборов с интенсивным режимом эксплуатации и приборов старше 3 лет – 2 раза в год
			.faq-item
				.faq-item__title.title-3
					h3 Как часто надо проводить обработку приборов?
				.faq-item__text
					p Внутренняя обработка – не реже 1 раза каждые 20 запусков
		.btn-wrapper
			a.button.button-brown(href="#") Все вопросы и ответы		
						
