footer.footer
	.container
		.footer-content
			.footer-left
				.footer-row.flex-box
					.footer-col
						.flex-box.flex-box--column
							.svg-icon
								+location
							p 117513, г. Москва, ул. Островитянова, д. 1, стр. 6, пом. 246
						.flex-box.flex-box--contacts
							.flex-box
								.svg-icon
									+call2
								p +7 (499) 739-96-98, +7 (977) 428-99-96
							.flex-box
								.svg-icon
									+mail
								.link.link--white 
									a(href="#!")
										span Exoplast-InBIO@yandex.ru
			
					.footer-col.footer-col--docs
						.link.link--white
							a(href="#!") 
								span Договор оферты
						.link.link--white
							a(href="#!") 
								span Политика конфиденциальности
					
				.footer-row.flex-box.footer-row--copyright
					.footer-col
						p &copy; 2020 ООО «Экзопласт».<br class="mob-br"> Все права защищены.

					.footer-col
						button.button.button-white Обратная связь
			.footer-logo
				.footer-logo__img
					img(src="img/logo/logo-plast.png", width="140" alt="img")
				.link
					a(href="#!") 
						span Подробнее о разработчике
