section.header-slider
	
	.header-slider__wrapper.owl-carousel
		.header-slider-item(style="background-image: url(img/header-slider/head.jpg);")
			.container
				.header-slider__text
					.title-1
						h1  Портативная<br> мини-лаборатория
					.subtitle Автономное, мультикомплексное, тестирование методом ПЦР за 30 минут
					a.button.button-brown(href="documentation.html") Подробнее о технологии
		.header-slider-item(style="background-image: url(img/header-slider/head.jpg);")
			.container
				.header-slider__text
					.title-1
						h1  Портативная<br> мини-лаборатория2
					.subtitle Автономное, мультикомплексное, тестирование методом ПЦР за 30 минут
					a.button.button-brown(href="documentation.html") Подробнее о технологии
		.header-slider-item(style="background-image: url(img/header-slider/head.jpg);")
			.container
				.header-slider__text
					.title-1
						h1  Портативная<br> мини-лаборатория3
					.subtitle Автономное, мультикомплексное, тестирование методом ПЦР за 30 минут
					a.button.button-brown(href="documentation.html") Подробнее о технологии
		.header-slider-item(style="background-image: url(img/header-slider/head.jpg);")
			.container
				.header-slider__text
					.title-1
						h1  Портативная<br> мини-лаборатория4
					.subtitle Автономное, мультикомплексное, тестирование методом ПЦР за 30 минут
					a.button.button-brown(href="documentation.html") Подробнее о технологии
	