#overlay
header.header
	.container
		.header-content
			.logo-block(itemscope itemtype="https://schema.org")
				a(href="#!" itemprop="logo")
					//========== svg  логоип ==========
					+logo
					//========== конец svg  логоип ==========
				p ПЦР в реальном времени
			.header-column(itemscope itemtype="https://schema.org/Organization")
				.d-none.d-md-block.d-lg-none.d-xl-block.logo-title
					h2 ПЦР в реальном времени
				.contact-phone.d-none.d-lg-flex
					span
						//========== svg телефон ==========
						+call
						//========== конец svg телефон ==========
					a(href="tel:84954342266" itemprop="telephone") +7 (495) 434-22-66
				button.callback-btn.d-none.d-lg-block Обратная связь
				button.square.square-lang.d-none.d-lg-block Eng				
				form#search-form.search-form
					.search-input
						input(type="text" placeholder="Поиск...")
					.search-result#search-result
						.search-result__count.text-13
							.container
								p Найдено 1-2 из 2
							
						.search-result__list
							.container
								ul
									li.link
										a(href="#!")
											span Индикатор-БИО
									li.link
										a(href="#!")
											span Комплектация мобильной ПЦР-лаборатории «Индикатор-БИО»
					button.square#search-button
						//========== svg лупа ==========
						+search(class="visible")
						//========== конец svg лупа ==========
						//========== svg крестик ==========
						+close
						//========== конец svg крестик ==========
				.menu-toggle
					span
.header-menu
	.container
		.header-menu__content
			ul
				li 
					a(href="#!") Продукция
					ul
						li
							a(href="#!") Индикатор-БИО
						li
							a(href="#!") Расходные материалы (ПЦР-чип)
						li
							a(href="#!") Комплектация мобильной ПЦР-лаборатории “Индикатор-БИО”
				li 
					a(href="#!") Принцип работы
				li 
					a(href="#!") О компании
				li 
					a(href="#!") Вопрос-ответ
				li 
					a(href="#!") Документация
				li 
					a(href="#!") Контакты
#mobile-menu.mobile-menu
	.mobile-menu__header
		.contact-phone
			span
				//========== svg телефон ==========
				+call
				//========== конец svg телефон ==========
			a(href="tel:84954342266" itemprop="telephone") +7 (495) 434-22-66
		button.square.square-lang Eng	

					