section.header-slider
	.header-slider__wrapper.owl-carousel
		.header-slider-item(style="background-image: url(img/header-slider/1.jpg);")
			.container
				.header-slider__text
					.title-1
						h1  Портативная мини-лаборатория
					.subtitle Автономное, мультикомплексное, тестирование методом ПЦР за 30 минут
					a.button.button-brown(href="#") Подробнее о технологии
		.header-slider-item(style="background-image: url(img/header-slider/1.jpg);")
			.container
				.header-slider__text
					.title-1
						h1  Портативная мини-лаборатория2
					.subtitle Автономное, мультикомплексное, тестирование методом ПЦР за 30 минут
					a.button.button-brown(href="#") Подробнее о технологии
		.header-slider-item(style="background-image: url(img/header-slider/1.jpg);")
			.container
				.header-slider__text
					.title-1
						h1  Портативная мини-лаборатория3
					.subtitle Автономное, мультикомплексное, тестирование методом ПЦР за 30 минут
					a.button.button-brown(href="#") Подробнее о технологии