.manufacturer
	.manufacturer-info
		.manufacturer-info__icon
			img(src="img/logo/logo-RNIMU.png", width="64" alt="icon")
		.manufacturer-info__text
			.text-13
				p Разработчик: РНИМУ им. Н.И. Пирогова
			.link
				a(href="#!")
					span Подробнее о разработчике
	.manufacturer-info
		.manufacturer-info__icon
			img(src="img/logo/logo-plast.png", width="146" alt="icon")
		.manufacturer-info__text
			.text-13
				p Разработчик: РНИМУ им. Н.И. Пирогова
			.link
				a(href="#!")
					span Подробнее о разработчике
	.manufacturer-info
		.manufacturer-info__icon
			img(src="img/logo/logo-covid.png", width="61" alt="icon")
		.manufacturer-info__text
			.text-13
				p Разработчик: РНИМУ им. Н.И. Пирогова
			.link
				a(href="#!")
					span Подробнее о разработчике