section.product
	.container
		.tabs
			.tablinks
				span 
					+indicator
				a(href="#") Индикатор-БИО
			.tablinks
				span
					+tube
				a(href="#") Расходные материалы (ПЦР-чип)
			.tablinks
				span
					+baggage2
				a(href="#") Комплектация мобильной ПЦР-лаборатории «Индикатор-БИО»

		

section.rating-tab
	nav.rating-tab-nav
		#nav-tab.nav.nav-tabs(role="tablist")
			a#nav-one-tab.nav-item.nav-link.active(data-toggle="tab" href="#nav-one" role="tab" aria-controls="nav-one" aria-selected="true") Континентальный кубок
			a#nav-two-tab.nav-item.nav-link(data-toggle="tab" href="#nav-two" role="tab" aria-controls="nav-two" aria-selected="false") Кубок России
			a#nav-three-tab.nav-item.nav-link(data-toggle="tab" href="#nav-three" role="tab" aria-controls="nav-three" aria-selected="false") Рейтинг ФЛГР
	#nav-tabContent.tab-content
		#nav-one.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="nav-one-tab")
			.container
				.product-block
					.fotorama(data-nav='thumbs')
						a(href='img/slider/indicator_max.png')
							img(src='img/slider/indicator-min1.png' width='80' height='80')
						a(href='indicator_max.png')
							img(src='img/slider/indicator-min2.png' width='80' height='80')
						a(href='indicator_max.png')
							img(src='img/slider/indicator-min3.png' width='80' height='80')
					.fotoslider

					.block-buy
						.title-2
							h2 Индикатор-БИО
						.buy
							.number
								p Количество
								.number-div Выбрать количество	
							.button.button-brown Купить
						.title-3
							h3 Преимущества<br> мобильной лаборатории «Индикатор БИО» 
						.text-block
							ul
								li Обслуживание одним лаборантом
								li Удобный кейс для транспортировки
								li Независимое энергопитание
								li Минимальное время исследования
								li Адаптирована для полевых условий
								li Выявление возбудителя инфекции на ранних этапах заражения (бессимптомные носители)
								li Флуоресцентная детекция результатов
				

		#nav-two.tab-pane.fade(role="tabpanel" aria-labelledby="nav-two-tab")
			.rating-results
				h1 ggegerge

		#nav-three.tab-pane.fade(role="tabpanel" aria-labelledby="nav-three-tab")
				.rating-results
				h1 51112