section(style="margin-bottom: 50px")
	.container
		p.title-1 Заголовки
		box(style="margin-top: 30px")
			h1.title-1 Заголовок-1
			pre h1.title-1 Заголовок-1
		box(style="margin-top: 30px")
			h1.title-2 Заголовок-2
			pre h2.title-2 Заголовок-2
		box(style="margin-top: 30px")
			h1.title-3 Заголовок-3
			pre h3.title-3 Заголовок-3
		p.title-1 Цвета
		.flex-wrapper
			.box
				.box(style="background-color:#1E2144; width:40px; height:40px ")
				p @basic;
			.box
				.box(style="background-color:#8A2132; width:40px; height:40px ")
				p @brown;
			.box
				.box(style="background-color:#343cd2;; width:40px; height:40px ")
				p @blue;
			.box
				.box(style="background-color:rgba(52, 60, 210, .5); width:40px; height:40px ")
				p @blueOp;
			.box
				.box(style="background-color:#F5F5F6; width:40px; height:40px ")
				p @greyBg;
			.box
				.box(style="background-color:#C58703; width:40px; height:40px ")
				p @yellow;

		p(style="margin-top: 30px") +logo
		+logo
		p(style="margin-top: 30px") +search
		+search
		
		p(style="margin-top: 30px") +call
		+call
		
		p(style="margin-top: 30px") +call2
		.wrapper(width="50",  height='50', style="background-color:blue")
			+call2
		
		p(style="margin-top: 30px") +mail
		.wrapper(width="50",  height='50', style="background-color:blue")
			+mail
		p(style="margin-top: 30px") +location
		.wrapper(width="50",  height='50', style="background-color:blue")
			+location
		
		p(style="margin-top: 30px") +rocket
		.wrapper(width="50",  height='50', style="background-color:blue")
			+rocket
		
		p(style="margin-top: 30px") +baggage
		.wrapper(width="50",  height='50', style="background-color:blue")
			+baggage
		p(style="margin-top: 30px") +benefits3
		.wrapper(width="50",  height='50', style="background-color:blue")
			+benefits3
		p(style="margin-top: 30px") +benefits4
		.wrapper(width="50",  height='50', style="background-color:blue")
			+benefits4
		p(style="margin-top: 30px") +tower
		.wrapper(width="50",  height='50', style="background-color:blue")
			+tower

		
		p(style="margin-top: 30px") +arrow-top
		.wrapper(width="50",  height='50', style="background-color:blue")
			+arrow-top
		p(style="margin-top: 30px") arrow-down
		.wrapper(width="50",  height='50', style="background-color:blue")
			+arrow-down
		p(style="margin-top: 30px") +arrow-downDark
		+arrow-downDark
		p(style="margin-top: 30px") +download
		+download
		
		p(style="margin-top: 30px") +indicator
		+indicator
		p(style="margin-top: 30px") +baggage2
		+baggage2
		p(style="margin-top: 30px") +tube
		+tube