section(style="margin-bottom: 50px")
	.container
		h3 Кнопки 
		a.button.button-brown(href="#") Подробнее о технологии
		pre(style="margin-top: 10px").
				a.button.button-brown(href="#") Подробнее о технологии

section(style="margin-bottom: 50px;")
	.container
		button.button.button-white Обратная связь
		pre(style="margin-top: 10px").
			button.button.button-white Обратная связь

section(style="margin-bottom: 50px;")
	.container
		button.button.button-blue Обратная связь
		pre(style="margin-top: 10px").
			button.button.button-blue Обратная связь

section(style="margin-bottom: 50px; ")
	.container
		h3 Карточка товара
		include _product-card.pug

section(style="margin-bottom: 50px; ")
	.container
		a(href="benefits.html") Преимущества системы

section(style="margin-bottom: 50px; ")
	.container
		a(href="about_us.html") О нас

section(style="margin-bottom: 50px; ")
	.container
		a(href="product-page.html") Страница продукта
		
			
	




		