section(style="margin-bottom: 50px")
	.container
		h3 Кнопки 
		a.button.button-brown(href="#") Подробнее о технологии
		pre(style="margin-top: 10px").
				a.button.button-brown(href="#") Подробнее о технологии

section(style="margin-bottom: 50px;")
	.container
		.box(style="background-color:#343CD2; width:350px; height:60px")
			button.button.button-white(href="#") Обратная связь
			pre(style="margin-top: 10px").
				button.button.button-white(href="#") Обратная связь

section(style="margin-bottom: 50px;")
	.container
		button.button.button-blue(href="#") Обратная связь
		pre(style="margin-top: 10px").
			button.button.button-blue(href="#") Обратная связь

section(style="margin-bottom: 50px; ")
	.container
		h3 Карточка товара
		.product-card
			


		