.benefits-card {
  width: 100%;
  max-width: 335px;
  height: 393px;
  background-color: #fff;
  border-radius: 8px;
  padding-top: 34px;
  padding-bottom: 59px;
}
.benefits-card .title-3 {
  width: 210px;
  height: 87px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 44px;
}
.benefits-card .card-round {
  display: flex;
  justify-content: center;
  align-items: center;
}
