.benefits {
  background-color: #fff;

  @media (max-width: 767px) {
    background-color: @greyBg;
  }

  .title-2 {
    display: block;

    @media (max-width: 767px) {
      display: none;
    }
  }

  .benefiits-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 89px;

    @media (max-width: 767px) {
      padding: 0;
      margin: 0;
      background-color: transparent;
    }

    .benefits-card {
      width: 100%;
      width: 335px;
      height: 393px;
      background-color: #fff;
      border-radius: 8px;
      padding-top: 35px;
      padding-bottom: 30px;
    }

    .title-3.title-3-600 {
      display: none;
      width: 210px;
      height: 87px;
      font-weight: 600;
      line-height: 1.2;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 44px;

      @media (max-width: 767px) {
        display: block;
      }
    }

    .card-icon {
      position: relative;
      left: 135px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      background-color: @brown;
      border-radius: 50%;
      margin-bottom: 21px;

      @media (max-width: 767px) {
        width: 60px;
        height: 60px;
      }

      svg {
        width: 50px;
        height: 50px;

        @media (max-width: 767px) {
          width: 30px;
          height: 30px;
        }
      }
    }

    .title-3 {
      text-align: center;
      margin-bottom: 8px;

      @media (max-width: 767px) {
        margin-bottom: 15px;
      }
    }

    p {
      width: 285px;
      height: 44px;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
    }

    .owl-dots {
      position: absolute;
      display: none;
      justify-content: center;
      bottom: 30px;
      left: 0;
      right: 0;
      z-index: 2;

      @media (max-width: 767px) {
        display: flex;
      }

      .owl-dot {
        width: 8px;
        height: 8px;
        background-color: rgba(228, 228, 228, 0.8);
        margin-right: 7px;
        border-radius: 50%;

        &.active {
          background-color: #e4e4e4;
        }
      }
    }
  }
}