.tabs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 35px;

  .tablinks span {
    margin-right: 10px;
  }

  .tablinks a {
    align-items: center;
  }
}

.product-block {
  display: flex;
  width: 100%;
  max-width: 1260px;
  background-color: #ffffff;
  padding-right: 20px;
  margin-bottom: 30px;

  .fotorama {
    display: block;
    width: 65%;
    max-width: 830px;

    @media (max-width: 767px) {
      display: none;
    }
  }

  .fotoslider {
    display: none;
    @media (max-width: 767px) {
      display: block;
    }
  }

  .block-buy {
    width: 34%;
    max-width: 429px;
    padding-left: 47px;
    border-left: 1px solid rgba(228, 228, 228, 0.8);
    padding-bottom: 112px;

    .title-2 h2 {
      margin-top: 45px;
      margin-bottom: 29px;
    }

    .title-3 h3 {
      text-align: left;
      margin-bottom: 18px;
    }

    .buy {
      display: flex;
      margin-bottom: 44px;

      .number {
        margin-right: 21px;
      }

      .button-brown {
        width: 183px;
      }
    }
  }
}

.text-block li {
  //   width: 350px;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 15px;
}

.text-block li + li {
  padding-top: 20px;
}

.text-block li:last-child {
  border-bottom: none;
}

.text-block li:last-child {
  padding-bottom: 0;
}

.indicator-blocks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  @media (max-width: 767px) {
    display: block;
  }

  .double-block {
    .description-block {
      margin-bottom: 30px;
    }
  }

  .about-block {
    .title-3 h3 {
      margin-bottom: 0;
    }
    .text-20 p {
      margin-bottom: 30px;
    }

    p + p {
      margin-top: 30px;
    }
  }
}

.description-block {
  max-width: 615px;
  background-color: #ffffff;
  border-radius: 10px;

  .description-block__body {
    padding-top: 56px;
    padding-right: 70px;
    padding-bottom: 100px;
    padding-left: 60px;

    .title-3 h3 {
      margin-bottom: 35px;
    }

    p {
      letter-spacing: -0.015em;
    }

    .text-20 p {
      margin-top: 30px;
    }
  }
  .description-block__footer {
    height: 80px;
    border-top: 1px solid @borderGrey;
    padding-left: 60px;
    padding-right: 70px;
    display: flex;
    align-items: center;
    margin-top: auto;
  }
}

.about-block {
  max-width: 615px;
  padding: 56px 70px 25px 60px;
  background-color: #ffffff;
  border-radius: 10px;

  .title-3 h3 {
    margin-bottom: 35px;
  }

  p {
    letter-spacing: -0.015em;
  }

  .text-20 p {
    margin-top: 30px;
    margin-bottom: 128px;
  }
}

.manufacturer-blocks {
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    display: none;
  }

  .manufacturer-item {
    padding-top: 25px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 30px;
    background: #ffffff;
    border-radius: 10px;
    width: 293px;

    .logo {
      display: flex;
      margin-bottom: 10px;
      align-items: center;
      .logo__img {
        margin-right: 11px;
      }
    }

    .link {
      margin-top: 85px;
    }

    .manufacturer-info__text {
      span {
        display: block;
        &:last-child {
          font-family: @m600;
        }
      }
    }
  }
}

.manufacturer-blocks__mob {
  display: none;

  @media (max-width: 767px) {
    display: block;
    margin-top: 30px;

    .manufacturer-item {
      display: flex;
      flex-flow: row-reverse;
    }

    .manufacturer-item:first-child {
      border-bottom: 1px solid @borderGrey;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .manufacturer-item:last-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    .manufacturer-info__link{
      .link{
        margin-top: 0;
      }
    }
  }
}

.consumables-blocks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  @media (max-width: 767px) {
    display: block;
  }

  .description-block {
    max-width: 830px;
  }

  .manufacturer-blocks {
    display: block;

    @media (max-width: 767px) {
      display: none;
    }

    .manufacturer-item {
      max-width: 401px;

      .logo {
        margin-bottom: 0;
      }

      .link {
        margin-top: 100px;
      }
    }

    .manufacturer-item:first-child {
      margin-bottom: 30px;
    }
  }

  .manufacturer-blocks__mob {
    display: none;

    @media (max-width: 767px) {
      display: block;

      .manufacturer-item:first-child {
        margin-bottom: 0;
      }
    }
  }
}

.trim-level {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  @media (max-width: 767px) {
    display: block;
  }

  .title-3 h3 {
    margin-bottom: 35px;
  }

  .description-block {
    margin-bottom: 30px;
  }

  .specification-block,
  .capacities-block {
    max-width: 615px;
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 55px;
    padding-right: 65px;
    padding-bottom: 55px;
    padding-left: 60px;

    .title-3 h3:last-child {
      margin-top: 20px;
    }
  }

  .specification-block {
    display: block; 
    @media (max-width: 767px) {
      display: none;
    }
  }

  .specification-block__mob {
    display: none;

    @media (max-width: 767px) {
      display: block;
    }
  }

  .col-right {
    .capacities-block {
      margin-bottom: 30px;
    }
  }
}
