* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.57;
}
a,
a:hover {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h5,
h4,
p {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}
svg {
  max-width: 100%;
}
input {
  outline: none;
}
button,
input {
  outline: none;
  font-family: inherit;
}
button {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: 0px;
}
button:active,
button:focus {
  outline: none !important;
}
@media (min-width: 1364px) {
  .container {
    max-width: 1260px;
    padding: 0;
  }
}
.flex-wrapper {
  display: flex;
  justify-content: space-between;
}
.title-1 {
  font-size: 36px;
  line-height: 1.222;
  color: #000;
  font-weight: 500;
}
@media (max-width: 767px) {
  .title-1 {
    font-size: 24px;
    line-height: 29px;
  }
}
.title-2 {
  font-size: 26px;
  line-height: 32px;
  color: #1E2144;
  font-weight: 600;
}
.title-3 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  color: #000;
}
@media (max-width: 767px) {
  .title-1,
  .title-2 {
    font-size: 24px;
    line-height: 29px;
  }
}
.link a {
  display: block;
  width: fit-content;
  font-size: 13px;
  line-height: 19px;
  font-weight: 600;
  color: #343cd2;
  position: relative;
  transition: 0.5s;
}
.link a span {
  background: linear-gradient(to right, rgba(197, 135, 3, 0.5), rgba(197, 135, 3, 0.5));
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 5px 1px;
}
.link a:hover {
  opacity: 0.5;
}
.link.link--icon a span:first-child {
  background: none;
}
.link.link--icon a span + span {
  margin-left: 15px;
}
p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.25px;
  color: #000;
}
.text-20 p {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  color: #C58703;
}
@media (max-width: 767px) {
  .text-20 p {
    font-size: 18px;
  }
}
.text-color {
  color: #C58703;
}
.button {
  height: 50px;
  font-weight: 600;
  line-height: 50px;
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: 0px;
  box-shadow: none;
  padding: 0;
  padding-left: 25px;
  padding-right: 25px;
}
.button.button-brown {
  background-color: #8A2132;
  color: #fff;
}
.button.button-brown:hover {
  background-color: #b92c43;
  color: #fff;
}
.button.button-brown:active {
  background-color: #731423;
}
.button.button-white {
  background-color: #fff;
  color: #343cd2;
}
.button.button-white:hover {
  color: #246fff;
}
.button.button-white:active {
  background-color: #fff;
}
.button.button-blue {
  background-color: #343cd2;
  color: #fff;
}
.button.button-blue:hover {
  background-color: #246fff;
}
.bsh {
  box-shadow: 0px 5px 35px rgba(65, 75, 178, 0.15);
}
.tr {
  transition: 0.5s;
}
