* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  background: #F5F5F6;
  color: #000;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 14px;
  line-height: 1.57;
}
.noscroll {
  overflow: hidden;
}
a,
a:hover {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h5,
h4,
p {
  padding: 0;
  margin: 0;
}
#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(5px);
  display: none;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}
#overlay.active {
  display: block;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}
svg {
  max-width: 100%;
}
input {
  outline: none;
}
button,
input {
  outline: none;
  font-family: inherit;
}
button {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: 0px;
}
button:active,
button:focus {
  outline: none !important;
}
@media (min-width: 768px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1364px) {
  .container {
    max-width: 1260px;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .container--large {
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.flex-wrapper {
  display: flex;
  justify-content: space-between;
}
.title-1 h1 {
  font-size: 36px;
  line-height: 1.222;
  color: #000;
  font-family: "Montserrat-Medium", sans-serif;
}
@media (max-width: 767px) {
  .title-1 h1 {
    font-size: 24px;
    line-height: 29px;
  }
}
.title-2 h2 {
  font-size: 26px;
  line-height: 32px;
  color: #1E2144;
  font-family: "Montserrat-SemiBold", sans-serif;
}
.title-3,
.title-3 h3 {
  font-size: 24px;
  line-height: 29px;
  font-family: "Montserrat-Medium", sans-serif;
  color: #000;
}
.benefits-card .title-2 h2 {
  font-size: 24px;
  line-height: 29px;
}
@media (max-width: 767px) {
  .title-1,
  .title-2 {
    font-size: 24px;
    line-height: 29px;
  }
}
.link a {
  display: block;
  width: fit-content;
  font-size: 13px;
  line-height: 19px;
  font-family: "Montserrat-SemiBold", sans-serif;
  color: #343cd2;
  position: relative;
  transition: 0.3s;
}
.link a span {
  background: linear-gradient(to right, rgba(197, 135, 3, 0.5), rgba(197, 135, 3, 0.5));
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 5px 1px;
}
.link a:hover {
  opacity: 0.5;
}
.link.link--icon a span:first-child {
  background: none;
}
.link.link--icon a span + span {
  margin-left: 15px;
}
p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.25px;
  color: #000;
}
.text-20 p {
  font-size: 20px;
  line-height: 1.4;
  font-family: "Montserrat-Regular", sans-serif;
  color: #C58703;
}
@media (max-width: 767px) {
  .text-20 p {
    font-size: 18px;
  }
}
.text-16 p {
  font-size: 16px;
  font-family: "Montserrat-Medium", sans-serif;
  line-height: 1.37;
}
.text-13.link {
  font-size: 13px;
  line-height: 16px;
}
.text-color {
  color: #C58703;
}
.button {
  height: 50px;
  font-family: "Montserrat-SemiBold", sans-serif;
  line-height: 50px;
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: 0px;
  box-shadow: none;
  padding: 0;
  padding-left: 25px;
  padding-right: 25px;
  transition: 0.3s;
}
.button.button-brown {
  background-color: #8A2132;
  color: #fff;
}
.button.button-brown:hover {
  background-color: #b92c43;
  color: #fff;
}
.button.button-brown:active {
  background-color: #731423;
}
.button.button-white {
  background-color: #fff;
  color: #343cd2;
}
.button.button-white:hover {
  color: #246fff;
}
.button.button-white:active {
  background-color: #fff;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
}
.text-13 {
  font-size: 13px;
  line-height: 16px;
}
.text-color {
  color: #C58703;
}
.button.button-blue {
  background-color: #343cd2;
  color: #fff;
}
.button.button-blue:hover {
  background-color: #246fff;
}
.bsh {
  box-shadow: 0px 5px 35px rgba(65, 75, 178, 0.15);
}
.tr {
  transition: 0.3s;
}
.header {
  background-color: #fff;
  border-bottom: 1px solid #E4E4E4;
  position: sticky;
  top: 0;
  z-index: 9;
}
.header-content {
  height: 60px;
  display: flex;
  align-items: center;
}
.header h2 {
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: -0.015em;
  margin-left: 30px;
  color: rgba(0, 0, 0, 0.4);
  height: 24px;
}
.logo-title {
  margin-right: auto;
}
.logo-block {
  height: 60px;
  display: flex;
  align-items: center;
}
.logo-block a {
  display: block;
  height: 24px;
  width: 222px;
  position: relative;
}
.logo-block a:after {
  content: '';
  width: 1px;
  height: 30px;
  position: absolute;
  background-color: #E4E4E4;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
}
@media (max-width: 1199px) {
  .logo-block {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .logo-block a {
    width: 185px;
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .logo-block a:after {
    display: none;
  }
  .logo-block .logo-block a {
    width: 150px;
  }
  .logo-block.hidden {
    display: none;
  }
}
.logo-block p {
  display: none;
  white-space: nowrap;
}
@media (max-width: 1199px) {
  .logo-block p {
    display: block;
    font-size: 10px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.4);
    padding-left: 25px;
  }
}
@media (max-width: 767px) {
  .logo-block p {
    display: block;
    font-size: 8px;
    line-height: 10px;
    padding-left: 30px;
  }
}
.logo-block.noborder a:after {
  display: none;
}
.header-column {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-right: 60px;
}
@media (max-width: 1199px) {
  .header-column {
    padding-right: 60px;
    justify-content: flex-end;
    height: 60px;
  }
}
@media (max-width: 767px) {
  .header-column {
    padding-right: 0;
    margin-right: 60px;
  }
}
.header form {
  position: absolute;
  right: 0px;
  height: 60px;
  top: 0;
  width: 60px;
  z-index: 1;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  transition: 0.3s;
  transition: 0.6s;
}
.header form .search-input {
  width: calc(100% - 60px);
  overflow: hidden;
  position: absolute;
  right: 60px;
  top: 0;
  background-color: #fff;
}
.header form input {
  width: 100%;
  border: none;
  height: 60px;
  background-color: #fff;
  padding-left: 30px;
}
.header form .square {
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #E4E4E4;
  border-right: 1px solid #E4E4E4;
}
.header form .square svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.header form .square svg.visible {
  opacity: 1;
}
.header form.visible {
  border-left: 1px solid #E4E4E4;
  width: 100%;
  z-index: 3;
}
@media (max-width: 767px) {
  .header form.visible {
    border-left: 0px;
  }
}
.contact-phone {
  display: flex;
  position: relative;
  z-index: 2;
}
.contact-phone svg {
  width: 18px;
  height: 18px;
}
.contact-phone a {
  white-space: nowrap;
  font-family: "Montserrat-Medium", sans-serif;
  margin-left: 8px;
  color: #000;
}
.contact-phone:hover a {
  color: #246FFF;
}
.callback-btn {
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  font-family: "Montserrat-SemiBold", sans-serif;
  height: 60px;
  background-color: #343cd2;
  text-align: center;
  margin-left: 30px;
  position: relative;
  z-index: 2;
  transition: 0.3s;
}
@media (max-width: 1199px) {
  .callback-btn {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.callback-btn:hover {
  background-color: #246FFF;
}
.square {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  background-color: #fff;
}
.square:hover svg path {
  stroke: #246FFF;
}
.square-lang {
  color: #414BB2;
  transition: 0.3s;
}
.square-lang:hover {
  color: #246FFF;
}
.search-result__count {
  background-color: #F5F5F6;
  min-height: 50px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.search-form .search-result {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  z-index: 10;
  opacity: 0;
  z-index: -1;
  transform: translateY(100%);
  transition: 0.3s;
}
.search-form .search-result.visible {
  opacity: 1;
  z-index: 2;
  transform: translateY(0%);
}
.search-result__list li {
  padding-top: 12px;
  padding-bottom: 12px;
}
.search-result__list li + li {
  border-top: 1px solid #E4E4E4;
}
.menu-toggle {
  display: none;
  position: relative;
}
@media (max-width: 767px) {
  .menu-toggle {
    display: block;
    z-index: 20;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 991px) {
}
.menu-toggle span {
  position: relative;
  display: block;
  width: 18px;
  height: 2px;
  background-color: #1E2144;
  transition: 0.3s;
}
.menu-toggle span:after,
.menu-toggle span:before {
  content: '';
  position: absolute;
  left: 0;
  height: 2px;
  background-color: #1E2144;
  right: 0;
  transition: 0.3s;
}
.menu-toggle span:after {
  top: -6px;
}
.menu-toggle span:before {
  bottom: -6px;
}
.menu-toggle.active span {
  background-color: transparent;
}
.menu-toggle.active span:after {
  top: 0px;
  transform: rotate(45deg);
  background-color: #246FFF;
}
.menu-toggle.active span:before {
  bottom: 0px;
  transform: rotate(-45deg);
  background-color: #246FFF;
}
.products .title-2 {
  margin-bottom: 33px;
}
.product-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 400px;
  height: 445px;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.product-card .card-title {
  display: flex;
  height: 66px;
  max-width: 229px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .product-card .card-title .text-16 p {
    font-size: 15px;
  }
}
.product-card:hover {
  box-shadow: 0px 5px 35px rgba(65, 75, 178, 0.15);
}
@media (max-width: 1199px) {
  .product-card {
    height: 370px;
  }
}
@media (max-width: 1023px) {
  .product-card {
    height: 355px;
  }
}
@media (max-width: 991px) {
  .product-card {
    height: 275px;
  }
}
@media (max-width: 767px) {
  .product-card {
    height: 381px;
    max-width: 335px;
    margin-bottom: 20px;
  }
}
.header-menu {
  background-color: #fff;
}
@media (min-width: 768px) {
  .header-menu {
    position: sticky;
    top: 60px;
    z-index: 8;
  }
}
.header-menu__content ul {
  width: 100%;
  height: 53px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.header-menu__content ul > li:first-child:after {
  content: '';
  width: 5px;
  height: 5px;
  border-left: 1px solid #343cd2;
  border-bottom: 1px solid #343cd2;
  position: absolute;
  right: -15px;
  top: 23px;
  transform: rotate(-45deg);
}
.header-menu__content ul a {
  transition: 0.3s;
}
.header-menu__content ul a:hover {
  color: rgba(52, 60, 210, 0.5);
}
.header-menu__content ul li {
  position: relative;
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-menu__content ul li a {
    font-size: 13px;
  }
}
.header-menu__content ul > li > a {
  font-family: "Montserrat-Medium", sans-serif;
  color: #343cd2;
  display: block;
  height: 53px;
  padding-top: 17px;
}
.header-menu__content ul > li > ul {
  position: absolute;
  left: -30px;
  top: 100%;
  width: 257px;
  display: block;
  background: #FFFFFF;
  box-shadow: 0px 5px 35px rgba(65, 75, 178, 0.15);
  border-radius: 0px 0px 10px 10px;
  padding-left: 30px;
  padding-right: 26px;
  z-index: 5;
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}
.header-menu__content ul > li > ul > li a {
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}
@media (max-width: 1199px) {
  .header-menu__content ul > li > ul {
    left: -20px;
    padding-left: 20px;
  }
}
.header-menu__content ul > li > ul > li:first-child:after {
  display: none;
}
.header-menu__content ul > li:hover ul {
  height: 186px;
}
@media (max-width: 767px) {
  .header-menu__content {
    display: none;
  }
}
.mobile-menu {
  position: fixed;
  top: 61px;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 375px;
  z-index: 50;
  transform: translateX(-100%);
  background-color: #fff;
  transition: 0.3s;
}
.mobile-menu .contact-phone {
  align-items: center;
}
.mobile-menu .contact-phone a {
  font-size: 18px;
}
.mobile-menu .contact-phone svg {
  width: 20px;
  height: 20px;
  position: relative;
  top: 2px;
}
@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu.active {
  transform: translateX(0);
}
.mobile-menu__header {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 16px;
  height: 60px;
  border-bottom: 1px solid #E4E4E4;
}
.mobile-menu__header .square-lang {
  border-left: 1px solid #E4E4E4;
  height: 59px;
}
.mobile-menu__body {
  height: calc(100vh - 120px);
  overflow: auto;
}
.mobile-menu ul > li:first-child {
  border-top: 0px;
}
.mobile-menu ul > li:nth-child(2) a {
  color: #1E2144;
}
.mobile-menu ul > li:nth-child(2) a + ul a {
  color: #343cd2;
}
.mobile-menu ul li {
  padding-top: 23px;
  padding-bottom: 23px;
  border-top: 1px solid #E4E4E4;
  padding-left: 15px;
}
.mobile-menu ul li a {
  font-size: 18px;
  line-height: 22px;
  color: #343cd2;
}
.mobile-menu ul li > ul li {
  border-top: 0px;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mobile-menu ul li > ul li:first-child {
  padding-top: 20px;
}
.mobile-menu ul li > ul li:last-child {
  padding-bottom: 0px;
}
.mobile-menu__body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.mobile-menu__body::-webkit-scrollbar-track {
  background-color: #dedede;
}
.mobile-menu__body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(52, 60, 210, 0.5);
}
.mobile-menu__body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.mobile-menu__body::-webkit-scrollbar-track {
  background-color: #dedede;
}
.mobile-menu__body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(52, 60, 210, 0.5);
}
.mobile-menu__footer {
  padding-top: 23px;
  padding-bottom: 40px;
}
.mobile-menu__footer .button {
  width: 100%;
  max-width: 335px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.benefits {
  background-color: #fff;
  padding-top: 89px;
  padding-bottom: 35px;
}
@media (max-width: 767px) {
  .benefits {
    background-color: #F5F5F6;
    padding-top: 45px;
    padding-bottom: 0;
  }
}
.benefits .title-2 {
  display: block;
  text-align: center;
}
@media (max-width: 767px) {
  .benefits .title-2 {
    display: none;
  }
}
.benefits .benefiits-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 53px;
}
@media (max-width: 767px) {
  .benefits .benefiits-block {
    margin: 0;
  }
}
.benefits .card-wrapper {
  width: 33.3%;
  margin-bottom: 72px;
}
@media (max-width: 991px) {
  .benefits .card-wrapper {
    width: 335px;
    max-width: 335px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 374px) {
  .benefits .card-wrapper {
    width: 290px;
    max-width: 290px;
    margin-bottom: 0;
  }
}
.benefits .benefits-card {
  width: 308px;
  height: 211px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 991px) {
  .benefits .benefits-card {
    width: 335px;
    height: 393px;
    background-color: #fff;
    padding-top: 35px;
    padding-bottom: 30px;
    border-radius: 8px;
  }
}
@media (max-width: 374px) {
  .benefits .benefits-card {
    width: 290px;
    max-width: 290px;
    margin-bottom: 0;
  }
}
.benefits .benefits-card .title-2 {
  display: none;
  width: 210px;
  font-weight: 600;
  line-height: 1.2;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 44px;
}
@media (max-width: 767px) {
  .benefits .benefits-card .title-2 {
    display: block;
  }
}
.benefits .card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #8A2132;
  border-radius: 50%;
  margin-bottom: 21px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 767px) {
  .benefits .card-icon {
    width: 60px;
    height: 60px;
  }
  .benefits .card-icon svg {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .benefits .card-icon svg {
    width: 30px;
    height: 30px;
  }
}
.benefits .card-icon svg {
  width: 50px;
  height: 50px;
}
@media (max-width: 767px) {
  .benefits .card-icon svg {
    width: 30px;
    height: 30px;
  }
}
.benefits .title-3 {
  text-align: center;
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  .benefits .title-3 {
    margin-bottom: 15px;
  }
}
.benefits p {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.benefits .owl-dots {
  position: absolute;
  display: none;
  justify-content: center;
  bottom: 30px;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
}
.benefits .owl-dots .owl-dot {
  width: 8px;
  height: 8px;
  background-color: rgba(228, 228, 228, 0.5);
  margin-right: 7px;
  border-radius: 50%;
}
.benefits .owl-dots .owl-dot.active {
  background-color: #e4e4e4;
}
.header-slider-item {
  height: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 86px;
  position: relative;
}
@media (max-width: 767px) {
  .header-slider-item {
    height: 303px;
    padding-top: 33px;
  }
  .header-slider-item:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.6);
  }
}
.header-slider__text {
  position: relative;
  z-index: 1;
  max-width: 450px;
}
.header-slider__text .title-1 {
  margin-bottom: 14px;
}
@media (max-width: 767px) {
  .header-slider__text .title-1 {
    margin-bottom: 24px;
  }
}
.header-slider__text .subtitle {
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 36px;
  max-width: 340px;
}
.header-slider__wrapper .owl-nav {
  position: absolute;
  width: 135px;
  z-index: 2;
  bottom: 71px;
  display: flex;
  justify-content: space-between;
}
.header-slider__wrapper .owl-nav .owl-next,
.header-slider__wrapper .owl-nav .owl-prev {
  width: 40px;
  height: 40px;
  padding: 5px;
  transition: 0.3s;
}
.header-slider__wrapper .owl-nav .owl-next:hover span,
.header-slider__wrapper .owl-nav .owl-prev:hover span {
  color: #000;
}
.header-slider__wrapper .owl-nav .owl-next span,
.header-slider__wrapper .owl-nav .owl-prev span {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.3);
}
.header-slider__wrapper .owl-dots {
  position: absolute;
  bottom: 87px;
  transition: 0.3s;
  z-index: 5;
  display: flex;
}
.header-slider__wrapper .owl-dots .owl-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
}
.header-slider__wrapper .owl-dots .owl-dot.active {
  background-color: #000;
}
.header-slider__wrapper .owl-dots .owl-dot + .owl-dot {
  margin-left: 7px;
}
@media (max-width: 1199px) {
  .header-slider__wrapper .owl-nav {
    display: none;
  }
  .header-slider__wrapper .owl-dots {
    left: 50%;
    transform: translateX(-50%);
    bottom: 65px;
  }
  a.button.button-brown {
    max-width: 335px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .header-slider__wrapper .owl-dots {
    bottom: 17px;
  }
}
.manufacturer {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 13px 22px;
  position: relative;
  margin-top: -50px;
  z-index: 2;
  margin-bottom: 124px;
}
.manufacturer-info {
  display: flex;
  align-items: center;
}
.manufacturer-info:first-child {
  width: 380px;
}
.manufacturer-info:nth-child(2) {
  padding-right: 18px;
  width: 448px;
}
.manufacturer-info:last-child {
  width: 385px;
}
.manufacturer-info + .manufacturer-info {
  border-left: 1px solid #F5F5F6;
  padding-left: 22px;
}
.manufacturer-info__icon {
  margin-right: 15px;
}
.manufacturer-info__text .text-13 {
  margin-bottom: 10px;
}
.manufacturer-info__text .text-13 p {
  font-family: "Montserrat-Medium", sans-serif;
}
@media (min-width: 768px) and (max-width: 991px) {
  .manufacturer {
    padding-left: 15px;
    padding-right: 15px;
  }
  .manufacturer-info {
    flex-direction: column;
    justify-content: center;
  }
  .manufacturer-info:first-child,
  .manufacturer-info:nth-child(2),
  .manufacturer-info:last-child {
    width: 33.33%;
  }
  .manufacturer-info:first-child img,
  .manufacturer-info:nth-child(2) img,
  .manufacturer-info:last-child img {
    width: auto;
    max-width: unset;
    height: 56px;
  }
}
@media (min-width: 1365px) {
  .text-13.link a span {
    background: none;
    color: #000;
    cursor: default;
    pointer-events: none;
  }
}
@media (max-width: 1364px) {
  .manufacturer-info__text .link {
    display: none;
  }
  .text-13.link {
    display: block;
  }
  .text-13.link span {
    display: block;
    width: fit-content;
  }
}
@media (max-width: 1199px) {
  .manufacturer-info + .manufacturer-info {
    padding-left: 17px;
  }
  .manufacturer {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 767px) {
  .manufacturer {
    flex-direction: column;
    margin-top: 0;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .manufacturer-info:first-child {
    width: 100%;
    padding-bottom: 30px;
    padding-top: 0;
  }
  .manufacturer-info:nth-child(2) {
    padding-right: 0px;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .manufacturer-info:last-child {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 0;
  }
  .manufacturer-info + .manufacturer-info {
    border-top: 1px solid #F5F5F6;
    border-left: 0px;
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .manufacturer-info {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .manufacturer-info__icon {
    margin-right: 0px;
  }
  .manufacturer-info:first-child .manufacturer-info__icon {
    width: 57px;
  }
  .manufacturer-info:nth-child(2) .manufacturer-info__icon {
    width: 118px;
  }
  .manufacturer-info:last-child .manufacturer-info__icon {
    width: 51px;
  }
}
.about {
  padding-top: 60px;
  padding-bottom: 70px;
  overflow: hidden;
}
.about .title-2 {
  padding-bottom: 33px;
  text-align: center;
}
.about .about-content {
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .about .about-content {
    border-radius: 0px;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
  }
  .about .about-content .manufacturer-info:last-child .manufacturer-info__icon {
    width: auto;
  }
}
.about .about-item {
  display: flex;
  background-color: #fff;
}
.about .about-item:nth-child(2n) {
  flex-direction: row-reverse;
}
@media (max-width: 1199px) {
  .about .about-item:nth-child(2n) {
    border-top: 1px solid #E4E4E4;
  }
}
.about .about-item__img {
  width: 50%;
}
@media (max-width: 1199px) {
  .about .about-item__img {
    display: none;
  }
}
.about .about-item__text {
  width: 50%;
  padding-top: 50px;
  padding-left: 57px;
  padding-right: 57px;
}
@media (max-width: 1364px) {
  .about .about-item__text {
    padding-top: 30px;
    padding-left: 45px;
  }
}
@media (max-width: 1199px) {
  .about .about-item__text {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 767px) {
  .about .about-item__text {
    padding-top: 35px;
    padding-left: 0;
    padding-right: 0;
  }
}
.about .about-item__text .manufacturer-info {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 991px) {
  .about .about-item__text .manufacturer-info {
    align-items: flex-start;
  }
}
.about .about-item__text .manufacturer-info .link {
  padding-bottom: 10px;
}
@media (max-width: 1199px) {
  .about .about-item__text .manufacturer-info .link {
    display: none;
  }
}
@media (max-width: 1364px) {
  .about .about-item__text .manufacturer-info {
    margin-top: 20px;
  }
}
@media (max-width: 1199px) {
  .about .about-item__text .manufacturer-info {
    margin-top: 30px;
  }
}
.about .manufacturer-info .left-column {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .about .manufacturer-info .left-column {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin-right: auto;
  }
}
.about .manufacturer-info__text span {
  display: block;
}
.about .manufacturer-info__text span:last-child {
  font-family: "Montserrat-SemiBold", sans-serif;
}
@media (max-width: 767px) {
  .about .manufacturer-info__text span {
    color: #343cd2;
    font-family: "Montserrat-SemiBold", sans-serif;
    border-bottom: 1px solid rgba(197, 135, 3, 0.5);
    font-size: 13px;
    line-height: 16px;
    width: fit-content;
  }
}
.about .about-item__text .title-3 {
  margin-bottom: 22px;
}
@media (max-width: 1364px) {
  .about .about-item__text .title-3 {
    margin-bottom: 17px;
  }
}
@media (max-width: 1199px) {
  .about .about-item__text .title-3 {
    margin-bottom: 22px;
  }
}
@media (max-width: 767px) {
  .about .about-item__text .title-3 {
    margin-bottom: 17px;
  }
}
.about .about-item__text p + p {
  margin-top: 22px;
}
@media (max-width: 1364px) {
  .about .about-item__text p + p {
    margin-top: 15px;
  }
}
@media (max-width: 1199px) {
  .about .about-item__text p + p {
    margin-top: 22px;
  }
}
@media (max-width: 1364px) {
  .about .about-item__text p + p {
    margin-top: 15px;
  }
}
.faq {
  padding-top: 99px;
  padding-bottom: 78px;
}
@media (max-width: 767px) {
  .faq {
    padding-bottom: 50px;
    padding-top: 45px;
  }
}
.faq .title-2 {
  text-align: center;
}
.faq .btn-wrapper .button {
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 991px) {
  .faq .btn-wrapper {
    margin-top: 30px;
  }
  .faq .btn-wrapper .button {
    width: 100%;
    max-width: 335px;
  }
}
.faq-item {
  width: 50%;
  padding-bottom: 45px;
  border-bottom: 1px solid #E4E4E4;
}
.faq-item__text {
  max-width: 580px;
  width: 84%;
  color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 1364px) {
  .faq-item__text {
    width: 90%;
  }
}
.faq-item {
  padding-top: 45px;
}
.faq-item:last-child,
.faq-item:nth-last-child(2) {
  border-bottom: 0px;
}
.faq-content {
  display: flex;
  flex-wrap: wrap;
}
.faq-item__title {
  margin-bottom: 42px;
  width: 90%;
}
.faq-item__wrapper {
  margin-bottom: 45px;
}
@media (max-width: 991px) {
  .faq-content .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    justify-content: center;
    display: flex;
  }
  .faq-content .owl-dots .owl-dot + .owl-dot {
    margin-left: 7px;
  }
  .faq-content .owl-dots .owl-dot {
    background-color: rgba(228, 228, 228, 0.5);
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  .faq-content .owl-dots .owl-dot.active {
    background-color: #e4e4e4;
  }
  .faq-item {
    width: 100%;
    max-width: 375px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .faq-item__title {
    width: 100%;
    margin-bottom: 8px;
  }
  .faq-item__title h3 {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
  .faq-item__text {
    width: 100%;
  }
}
.footer {
  overflow: hidden;
  min-height: 180px;
  background-color: #343cd2;
}
.footer .footer-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
.footer .footer-col a {
  color: #fff;
  letter-spacing: -0.015em;
}
.footer .link.link--white a {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 14px;
  line-height: 22px;
}
.footer .link.link--white a span {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 5px 1px;
}
.footer-left {
  justify-content: space-between;
  width: 63.5%;
  padding-top: 35px;
  padding-bottom: 25px;
}
@media (max-width: 1364px) {
  .footer-left {
    width: 70%;
  }
}
@media (max-width: 991px) {
  .footer-left {
    width: 100%;
  }
}
.footer-col:first-child {
  width: 71%;
  max-width: 800px;
}
@media (max-width: 991px) {
  .footer-col:first-child {
    width: 55%;
  }
}
.footer-col:last-child {
  width: 21%;
  min-width: 170px;
}
@media (max-width: 991px) {
  .footer-col:last-child {
    width: 40%;
  }
}
.footer-row {
  justify-content: space-between;
}
.footer-row + .footer-row {
  margin-top: 15px;
  align-items: center;
}
.flex-box {
  display: flex;
}
.flex-box .svg-icon {
  margin-right: 14px;
}
.flex-box a,
.flex-box p {
  color: #fff;
  letter-spacing: -0.015em;
}
.footer-col .link + .link {
  margin-top: 15px;
}
.svg-icon {
  display: flex;
  align-items: center;
  min-width: 16px;
}
.flex-box--contacts {
  justify-content: space-between;
  margin-top: 10px;
}
@media (max-width: 1199px) {
  .flex-box--contacts {
    flex-direction: column;
  }
  .flex-box--contacts .flex-box + .flex-box {
    margin-top: 12px;
  }
}
.footer-logo {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  background-color: #fff;
}
@media (max-width: 1364px) {
  .footer-logo {
    width: 300px;
  }
}
@media (max-width: 1199px) {
  .footer-logo {
    width: 240px;
  }
}
.footer-logo {
  padding-left: 66px;
  padding-top: 40px;
}
.footer-logo .footer-logo__img {
  margin-bottom: 47px;
}
.footer-logo {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  background-color: #fff;
}
@media (max-width: 1364px) {
  .footer-logo {
    width: 300px;
  }
}
@media (max-width: 1199px) {
  .footer-logo {
    width: 240px;
    padding-left: 25px;
  }
}
@media (max-width: 991px) {
  .footer-logo {
    display: none;
  }
}
@media (max-width: 767px) {
  .footer-row {
    flex-direction: column;
  }
  .footer-col:first-child,
  .footer-col:last-child {
    width: 100%;
  }
  .flex-box + .flex-box {
    margin-top: 19px;
  }
  .footer-col--docs {
    padding-left: 32px;
    padding-bottom: 25px;
  }
  .footer-col--docs .link {
    margin-top: 19px;
  }
  .footer-row--copyright {
    position: relative;
    padding-top: 23px;
  }
  .footer-row--copyright:after {
    content: '';
    top: 0;
    width: 800px;
    height: 1px;
    background-color: rgba(228, 228, 228, 0.2);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .footer-row--copyright p {
    padding-left: 32px;
  }
  .footer-row--copyright .button {
    max-width: 335px;
    width: 100%;
    margin-top: 18px;
  }
}
.mob-br {
  display: none;
}
@media (max-width: 575px) {
  .mob-br {
    display: block;
  }
}
.modal-backdrop {
  opacity: 0.85 !important;
  background-color: #ffffff !important;
}
.form-item {
  position: relative;
  margin-bottom: 14px;
}
.form-item label {
  display: block;
  margin-bottom: 4px;
}
.form-item label span {
  color: #E30126;
}
#contactForm .modal-content {
  background: #FFFFFF;
  box-shadow: 0px 5px 35px rgba(65, 75, 178, 0.15);
  border-radius: 10px;
  padding: 60px;
  padding-top: 50px;
}
@media (max-width: 1199px) {
  #contactForm .modal-content {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (max-width: 767px) {
  #contactForm .modal-content {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
#contactForm .modal-body {
  padding: 0;
}
#contactForm .modal-form-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 35px;
}
@media (max-width: 1199px) {
  #contactForm .modal-form-title {
    margin-bottom: 28px;
  }
}
@media (min-width: 992px) {
  #contactForm .modal-dialog {
    max-width: 830px;
  }
}
.form-item input,
.form-item textarea {
  border: none;
  background: #F5F5F6;
  border-radius: 6px;
  height: 40px;
  width: 100%;
  padding-left: 15px;
  padding-right: 10px;
  outline: none;
}
.form-item textarea {
  height: 136px;
  resize: none;
  padding: 15px;
  padding-right: 15px;
}
.form-row {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 767px) {
  .form-row {
    flex-direction: column;
  }
}
.form-row .form-item {
  width: 48%;
}
@media (max-width: 767px) {
  .form-row .form-item {
    width: 100%;
  }
}
.form-select {
  position: relative;
  background: #FFFFFF;
}
.form-select input {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  z-index: 2;
  padding-left: 12px;
  height: 40px;
  border-radius: 6px;
}
.form-select__options {
  width: 100%;
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: -10px;
  border-radius: 10px;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  padding: 0px;
  padding-left: 0;
  padding-right: 0;
  background: #fff;
  box-shadow: 0px 5px 35px rgba(65, 75, 178, 0.15);
  -webkit-animation-name: showSlow;
  animation-name: showSlow;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  display: none;
}
.form-select__options li {
  color: #343cd2;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
}
.form-select__options li + li {
  border-top: 1px solid #E4E4E4;
}
.form-select__options li:hover {
  color: #246FFF;
}
.form-select__options li:active {
  color: rgba(52, 60, 210, 0.5);
}
.form-select__options li.active,
.form-select__options li:hover {
  color: #313131;
}
.form-select__options.active {
  display: block;
}
.form-select__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 25px;
  color: #000;
  opacity: 0.6;
  z-index: 3;
  font-size: 14px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.form-select__icon svg {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.form-select__icon:after {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  width: 1px;
  background-color: #EEEEEE;
}
.form-select__icon.rotate svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  color: red;
}
@-webkit-keyframes showSlow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showSlow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.custom-checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #343cd2;
  margin-right: 10px;
  position: relative;
  background-color: transparent;
  top: 1px;
}
.custom-checkbox:after {
  content: '';
  width: 6px;
  height: 16px;
  border-bottom: 1.5px solid #343cd2;
  border-right: 1.5px solid #343cd2;
  position: absolute;
  top: -90%;
  left: 45%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: -1;
  opacity: 0;
}
.form-checkbox:checked + .custom-checkbox:after {
  z-index: 2;
  opacity: 1;
  top: -70%;
}
input[type='checkbox'] {
  width: 0.01px;
  height: 0.1px;
  border: 0px;
  padding: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
}
form .agree-text a {
  color: #343cd2;
  margin-left: 5px;
  margin-right: 5px;
}
form .agree-text a:hover {
  color: rgba(52, 60, 210, 0.5);
}
.form-btn {
  margin-top: 40px;
}
.form-btn .button {
  width: 183px;
}
button.close span svg {
  transition: 0.3s;
}
button.close:hover svg {
  transform: rotate(180deg);
}
button.close:hover svg path {
  fill: #246FFF;
}
