extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	include ../sections/_03-how-work.pug	
	include ../sections/_footer.pug
	include ../sections/_form.pug

block variables
	-var title = "Принцип работы";