extends ../layouts/layout.pug

block content
	include ../sections/_ui-kit-Vika.pug
	include ../sections/_ui-kit-Lara.pug
	include ../sections/_product-card.pug



block variables
	-var title = "Page";
	