extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	include ../sections/_header-slider.pug
	include ../sections/_product-card.pug
	include ../sections/_about_us.pug
	include ../sections/_benefits-block.pug
	include ../sections/_faq.pug
	include ../sections/_footer.pug
	include ../sections/_form.pug



block variables
	-var title = "Главная";
	