mixin counter
	.product-counter
		.product-counter__input
			input(type="text" name="product_count" value='1')
		.product-counter__btn
			button.product-counter--plus
				+arrow-down
			button.product-counter--minus
				+arrow-down